#expList {
    width: 100%;
}

.expense {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
    gap: 10px;
}

.expense > .type_ico {
    flex-basis: 55px;
    filter: brightness(0.9);
}
.expense img {
    width: 100%;
    height: 100%;
}
.expense > .exp_textbox {
    display: flex;
    flex-direction: column;
}
.expense > .exp_textbox > * {
    display: inline-block;
    margin: 0;
}
.expense > .exp_textbox > .exp_date {
    color: var(--hint-color);
}
.expense > .delete_ico {
    margin-left: auto;
    flex-basis: 40px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.expense > .delete_ico > img {
    filter: saturate(1.2);
}
.expense > .delete_ico:hover {
    background-color: var(--dark-grey-color);
}

/* Add expenses */
#add_exp {
    position: fixed;
    bottom: 2%;
    left: 50%;
}
#add_btn {
    width: 80px;
    height: 80px;
    background-color: var(--mid-color);
    padding: 10px;
    border-radius: var(--radius) 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 10px -2px var(--dark-color);
}

#add_btn > img {
    width: 100%;
    height: 100%;
}

#add_btn:hover {
    background-color: var(--bright-color);
}
