#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#overlay.show {
    display: block;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-color);
    /* box-shadow: 0 0 15px -5px var(--dark-color); */

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 1rem;
    border-radius: var(--radius);
}
#form > h1 {
    margin: 0 0 1rem 0;
    text-align: center;
}
#form > img {
    position: absolute;
    right: -50px;
    top: -50px;
    background-color: var(--dark-color);
    border-radius: var(--radius);
    padding: 0.5rem;
    width: 30px;
    cursor: pointer;
}
#form > input {
    font-size: 28px;
    background-color: var(--dark-color);
    color: var(--bright-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#form > input:focus{
    outline: solid var(--light-blue);
}
#form > select {
    font-size: 28px;
    font-family: inherit;
    background-color: var(--dark-grey-color);
    color: var(--bright-color);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
#form > select:focus {
    outline: solid var(--light-blue);
}
#form #submit_exp_btn {
    cursor: pointer;
    background-color: var(--bright-color);
    color: var(--dark-color);
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    transition: background-color 0.3s ease;
}
#form #submit_exp_btn:hover {
    background-color: var(--light-blue);
}
