:root {
    --black-color: rgb(20, 20, 20); 
    --dark-color: rgb(38, 38, 43);
    --dark-grey-color: rgb(64, 64, 75);
    --hint-color: rgb(128, 128, 128);
    --mid-color: rgb(180, 180, 180);
    --bright-color: rgb(230, 230, 230);

    --mono-dark-color: #2f2f45;
    --light-blue: hsl(200, 100%, 70%);

    --radius: 0.8rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--bright-color);
    background-color: var(--bright-color);
    margin: 0;
    overflow: auto;

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main {
    transition: all 0.3s;
    filter: opacity(1);
}
#main.blur {
    filter: opacity(0.2);
}

#logo {
    text-align: center;
}
#logo img {
    width: 100%;
    height: 100%;
    max-width: 700px;
    box-shadow: 0 0 30px -10px var(--dark-grey-color);
    border-radius: 0 0 2rem 2rem;
}

section {
    position: relative;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    box-shadow: 0 0 10px -2px var(--dark-color);

    background-color: var(--dark-color);

    border-radius: var(--radius);

    margin: 1em 0 1em 0;
    padding: 1rem;
}
section > h1 {
    text-align: left;
    margin: 0 0 1rem 0;
}

#total_top > h1 {
    display: inline;
}
#total #period_select {
    display: inline;
    font-family: inherit;
    font-size: 34px;
    font-weight: 600;
    background-color: var(--dark-grey-color);
    color: var(--bright-color);
    border: none;
    border-radius: 0.5rem;
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
}
#total #total_spent {
    text-align: center;
}
#total #total_spent > p {
    font-size: 54px;
    margin: 1rem;
    color: hsl(150, 100%, 50%);
}

#list {
    min-height: 100px;
}

@media (hover: hover) and (pointer: fine) {
    #total #period_select:hover {
        color: var(--light-blue);
    }
}
